{% extends 'dashboard_base.html' %} {% load static %} {% block header %}
<link rel="canonical" href="https://shopbud.herokuapp.com/accounts/dashboard" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link 
      href="https://cdn.jsdelivr.net/npm/intro.js@4.1.0/introjs.min.css"
      rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %} {% block content %}
<main class="content">
  <div class="container-fluid p-0">
    <h1 class="h3 mb-3">
      Welcome, <strong>{{ request.user.username|upper }}</strong>
    </h1>
    <div class="row">
      <div class="col-12 col-md-4 col-xxl-4 d-flex">
        <div class="card flex-fill w-100 expenses">
          <div
            class="card-header"
            onclick="location.href=`{% url 'transaction' %}`"
            id="sbox"
          >
            <h5 class="card-title mb-0">Expenses</h5>
          </div>
          <div
            class="card-body d-flex"
            onclick="location.href=`{% url 'transaction' %}`"
            id="sbox"
          >
            {% if transactions %}
            <div class="align-self-center w-100">
              <div class="py-3">
                <div class="chart chart-xs">
                  <canvas id="chartjs-dashboard-pie"></canvas>
                </div>
              </div>
              <table class="table mb-0">
                <tbody>
                  <tr>
                    <td>
                      Amazon
                      <i class="bi bi-circle-fill" style="color: #dc3545"></i>
                    </td>
                    <td class="text-end amazon">Loading...</td>
                  </tr>
                  <tr>
                    <td>
                      Lazada
                      <i class="bi bi-circle-fill" style="color: #3b7ddd"></i>
                    </td>
                    <td class="text-end lazada">Loading...</td>
                  </tr>
                  <tr>
                    <td>
                      Shopee
                      <i class="bi bi-circle-fill" style="color: #fcb92c"></i>
                    </td>
                    <td class="text-end shopee">Loading...</td>
                  </tr>
                  <tr>
                    <td>
                      Others
                      <i class="bi bi-circle-fill" style="color: #6c757d"></i>
                    </td>
                    <td class="text-end others">Loading...</td>
                  </tr>
                </tbody>
              </table>
            </div>
            {% else %}
            <div class="align-self-center justify-content-center w-100">
              <div class="py-3 text-center">
                <span class="smiley">:-(</span>
                <span class="note">No transactions</span>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-8 col-xxl-8 d-flex">
        <div class="card flex-fill w-100 shiptogether">
          <div
            class="card-header"
            onclick="location.href=`{% url 'ship' %}`"
            id="sbox"
          >
            <h5 class="card-title mb-0">ShipTogether (My Groups)</h5>
          </div>
          {% if mygroups != None %}
          <table class="table table-hover my-0" id="my_group_data">
            <thead>
              <tr>
                <th class="d-none d-md-table-cell">Group Name</th>
                <th class="d-none d-md-table-cell">Platform</th>
                <th class="d-none d-md-table-cell text-center">Status</th>
              </tr>
            </thead>
            <tbody>
              {% for group, platform in mygroups %} {% if group.is_locked %}
              <tr
                onclick="redirect_locked(`{{ group.group_name }}`)"
                style="cursor: pointer"
              >
                <td class="d-none d-md-table-cell group_name">
                  {{ group.group_name }}
                </td>
                <td class="d-none d-md-table-cell platform">{{ platform }}</td>
                <td class="d-none d-md-table-cell text-center">
                  <span class="badge bg-success">Locked</span>
                </td>
              </tr>
              {% else %}
              <tr
                onclick="redirect(`{{ group.group_name }}`)"
                style="cursor: pointer"
              >
                <td class="d-none d-md-table-cell group_name">
                  {{ group.group_name }}
                </td>
                <td class="d-none d-md-table-cell platform">{{ platform }}</td>
                <td class="d-none d-md-table-cell text-center">
                  <span class="badge bg-danger text-center">Unlocked</span>
                </td>
              </tr>
              {% endif %} {% endfor %}
            </tbody>
          </table>
          {% else %}
          <div class="text-center justify-content-center p-3">
            <span class="smiley-180">╯︿╰</span>
            <span class="note">You have not joined any groups</span>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex">
        <div class="card flex-fill deliveries">
          <div
            class="card-header"
            onclick="location.href=`{% url 'delivery' %}`"
            id="sbox"
          >
            <h5 class="card-title mb-0">Delivery Tracker</h5>
          </div>
          {% if deliveries != None %}
          <table
            class="table table-hover my-0"
            onclick="location.href=`{% url 'delivery' %}`"
            id="sbox"
          >
            <thead>
              <tr>
                <th>Item</th>
                <th class="d-none d-xl-table-cell">Tracking Number</th>
                <th class="d-none d-xl-table-cell">Courier</th>
                <th>Status</th>
                <th class="d-none d-md-table-cell">Time Updated</th>
              </tr>
            </thead>
            <tbody>
              {% for delivery in deliveries %}
              <tr class="data">
                <td class="name">{{ delivery.name|capfirst }}</td>
                <td class="d-none d-xl-table-cell tkg_number">
                  {{ delivery.tkg_number }}
                </td>
                <td class="d-none d-md-table-cell courier">
                  {{ delivery.courier_name }}
                </td>
                <td class="d-none d-md-table-cell status">
                  <span>Loading...</span>
                </td>
                <td class="d-none d-xl-table-cell time_updated">Loading...</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <div class="text-center p-3">
            <span class="smiley-180">（´＿｀）</span>
            <span class="note">No deliveries being tracked</span>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %} {% block script %}
<script async src="{% static 'js/dashboard.js' %}"></script>

{% if first_time %}
<script src="https://cdn.jsdelivr.net/npm/intro.js@4.1.0/intro.min.js"></script>
<script>
  introJs().setOptions({
    showBullets: false,
    showProgress: true,
    exitOnOverlayClick: false,
    steps: [{
      title: 'Hello 👋',
      intro: 'Welcome to ShopBud! <br><br> Right now, you are on the dashboard where you can see a summary of all your account activities.'
    },
    {
      element: document.querySelector('.expenses'),
      title: 'Expenses 💸',
      intro: 'At the moment you have no transactions added. <br><br> To add a transaction, click on the card title to access the delivery tracker page.'
    },
    {
      element: document.querySelector('.deliveries'),
      title: 'Deliveries 🛒',
      intro: 'This is where your delivery statuses will appear once you have added deliveries to be tracked.'
    },
    {
      element: document.querySelector('.shiptogether'),
      title: 'ShipTogether 🚢',
      intro: 'Groups that you have joined will show up here!'
    },
    {
      element: document.querySelector('.navbar-brand'),
      intro: 'Click here from any page to return to the Dashboard'
    },
    {
      element: document.querySelector('.nav-link'),
      intro: 'Click on any of the nav-links to access our different features!'
    }]
  }).oncomplete(function() {
    $.ajax({
      type: "GET",
      url: "/accounts/onboardingFin"
    })
  }).start()
</script>
{% endif %}
{% endblock %}
