{% extends 'dashboard_base.html' %} {% load static %}
{% block title %}: Deliveries{% endblock %} {% block header %}
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="{% static 'css/delivery.css' %}" rel="stylesheet" />
{% endblock %} {% block content %}
<main class="content">
  <div class="container-fluid p-0">
    <div class="row justify-content-lg-center">
      <div class="col-auto">{% include 'partials/deliveryalerts.html' %}</div>
    </div>
    <div class="d-flex justify-content-between mb-3">
      <h1 class="h3">Deliveries</h1>
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#add_delivery">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
          class="bi bi-plus-square-fill" viewBox="0 0 16 16">
          <path
            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z">
          </path>
        </svg>
        Add delivery
      </button>
      <div class="modal fade" id="add_delivery" tabindex="-1" aria-labelledby="add_delivery" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="add_deliveryLabel">
                Add a new delivery!
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="needs-validation" action="{% url 'delivery' %}" method="POST" id="delivery_form" novalidate>
                {% csrf_token %}
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="item-name" placeholder="item" name="name" required />
                  <label for="item-name">Item name</label>
                  <div class="invalid-feedback">Please provide item name.</div>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="tkg_number" placeholder="tkg_number" name="tkg_number"
                    required />
                  <label for="tkg_number">Tracking number</label>
                  <div class="invalid-feedback">
                    Please provide tracking number.
                  </div>
                </div>
                <select class="form-select mb-3" name="courier" id="courier" required>
                  <option value="" disabled>---Select platform---</option>
                  <option value="ninjavan,Ninja Van">Ninja Van</option>
                  <option value="singapore-post,SingPost">
                    Singapore Post
                  </option>
                  <option value="singapore-speedpost,Speedpost">
                    Singapore Speedpost
                  </option>
                  <option value="roadbull,Roadbull">Roadbull</option>
                  <option value="zto-international,ZTO International">
                    ZTO International
                  </option>
                  <option value="jt-express-sg,J&T Express">J&T Express</option>
                  <option value="qxpress,Qxpress">Qxpress</option>
                </select>
                <div class="invalid-feedback">Please select one.</div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cancel
              </button>
              <button type="submit" class="btn btn-success" form="delivery_form">
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <!-- <h5 class="card-title mb-0">Deliveries</h5> -->
        </div>
        <table class="table table-hover my-0" id="transaction_data">
          <thead>
            <tr>
              <th class="sortable asc" onclick="sortTable(0)" style="cursor: pointer">
                Item
              </th>
              <th class="d-none d-xl-table-cell sortable" onclick="sortTable(1)" style="cursor: pointer">
                Tracking Number
              </th>
              <th class="d-none d-md-table-cell sortable" onclick="sortTable(2)" style="cursor: pointer">
                Courier
              </th>
              <th class="d-none d-md-table-cell">Status</th>
              <th class="d-none d-xl-table-cell">Time Updated</th>
              <th id="actions"></th>
            </tr>
          </thead>
          <tbody>
            {% for delivery in deliveries %}
            <tr class="data">
              <td class="name">{{ delivery.name|capfirst }}</td>
              <td class="d-none d-xl-table-cell tkg_number">{{ delivery.tkg_number }}</td>
              <td class="d-none d-md-table-cell courier">
                {{ delivery.courier_name }}
              </td>
              <td class="d-none d-md-table-cell status">
                <span>Loading...</span>
              </td>
              <td class="d-none d-xl-table-cell time_updated">Loading...</td>
              <td style="text-align: center">
                <span>
                  <a class="delete" title="Delete" data-bs-toggle="tooltip" data-bs-placement="top">
                    <i class="bi bi-trash-fill"></i>
                  </a>
                </span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div id="tm-my-tp-container" data-key="1qRX1ZieyN1pmJpqZWpnl9+gwpqWh6Sh"></div>
  </div>
</main>
{% endblock %} {% block script %}
<script async src="{% static 'js/delivery.js' %}"></script>
<script async src="https://s.trackingmore.com/track/js/20210111.js"></script>
{% endblock %}