{% extends 'dashboard_base.html' %}
{% load static %}

{% block title %}: ShipTogether{% endblock %}
{% block header %}
<link href="{% static 'css/ship.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
                <h1 class="h2">{{ info.group_name }}</h1>
            </div>

        </div>

        <div class="row">
            <div class="col-md-7 col-xxl-7 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Items</h5>
                    </div>
                    <table class="table table-hover my-0" id='group_data'>
                        <thead>
                            <tr>
                                <th class="sortable asc" onclick="sortTable(0)" style="cursor:pointer">User</th>
                                <th class="sortable" onclick="sortTable(1)" style="cursor:pointer">
                                    Item</th>
                                <th class="sortable" onclick="sortTable(2)" style="cursor:pointer">
                                    Qty</th>
                                <th>Price</th>
                                <th>URL</th>
                                <!-- <th class="text-center">Paid</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="data">
                                <td class="name">Zi Hao</td>
                                <td class="d-none d-xl-table-cell tkg_number">Asos</td>
                                <td class="d-none d-md-table-cell courier">3</td>
                                <td class="d-none d-md-table-cell status">Hougang</td>
                                <td class="d-none d-xl-table-cell time_updated">$240</td>
                                <!-- <td class="d-flex justify-content-center">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="paid" value="True">
                  </div>
                </td> -->
                            </tr>
                            <tr class="data">
                                <td class="name">Hello</td>
                                <td class="d-none d-xl-table-cell tkg_number">JD</td>
                                <td class="d-none d-md-table-cell courier">4</td>
                                <td class="d-none d-md-table-cell status">Redhill</td>
                                <td class="d-none d-xl-table-cell time_updated">$10</td>
                            </tr>
                            {% for delivery in deliveries %}
                            <tr class="data">
                                <td class="name">{{ delivery.name|capfirst }}</td>
                                <td class="d-none d-xl-table-cell tkg_number">{{ delivery.tkg_number }}</td>
                                <td class="d-none d-md-table-cell courier">{{ delivery.courier_name }}</td>
                                <td class="d-none d-md-table-cell status">
                                    <span>Loading...</span>
                                </td>
                                <td class="d-none d-xl-table-cell time_updated">Loading...</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-md-5 col-xxl-5 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Summary</h5>
                    </div>
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <td>
                                    <i data-feather="shopping-bag"></i>
                                    Store:
                                </td>
                                <td>
                                    {{ store }}
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <i data-feather="briefcase"></i>

                                    Details:
                                </td>
                                <td>
                                    {{ info.description }}

                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <i data-feather="credit-card"></i>

                                    Shipping fee per member:
                                </td>
                                <td>
                                    $

                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <i data-feather="info"></i>
                                    Total Amount: 

                                </td>
                                <td>
                                    $

                                </td>

                            </tr>


                        </tbody>
                    </table>

                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-12 col-md-4 col-xxl-4 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Members' details</h5>
                    </div>
                    <div class="card-body d-flex">
                        <table class="table mb-0">
                            <tbody>
                                {% for member in info.members %}
                                <tr class="data">
                                    <td>
                                        <i data-feather="user"></i>
                                        {{ member }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-xxl-8 d-flex">
                <div class="container-fluid p-0">
                    <div class='row'>
                        <div class="col-md-6 col-xxl-6 d-flex">
                            <div class="card flex-fill w-100 carousel carousel-dark slide" id="carouselExampleDark"
                                data-bs-ride="carousel">

                                <div class="card-header" onclick="location.href=`{% url 'price' %}`" id="sbox">
                                    <h5 class="card-title mb-0">Order details (Screenshots)</h5>
                                </div>
                                <div class="card-body d-flex">

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xxl-6 d-flex">
                            <div class="card flex-fill w-100">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Order details</h5>
                                </div>
                                <div class="card-body d-flex">
                                    <table class="table mb-0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <i data-feather="hash"></i>
                                                    Tracking Number:
                                                </td>
                                                <td>{{ info.tkg_number }}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i data-feather="truck"></i>

                                                    Courier:
                                                </td>
                                                <td>{{ info.courier }}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i data-feather="calendar"></i>
                                                    Meetup/Collection Date:
                                                </td>
                                                <td>{{ info.meeting_date }}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i data-feather="map-pin"></i>
                                                    Meetup Address:
                                                </td>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>


            </div>

            <!-- <div class="col-12 col-md-4 col-xxl-4 d-flex">
        <div class="card flex-fill w-100">
          <div class="card-header">
            <h5 class="card-title mb-0">Order details</h5>
          </div>
          <div class="card-body d-flex">
            <table class="table mb-0">
              <tbody>
                <tr>
                  <td>
                    <i data-feather="hash"></i>
                    Tracking Number:
                  </td>
                  <td>{{ info.tkg_number }}</td>
                </tr>
                <tr>
                  <td>
                    <i data-feather="truck"></i>

                    Courier:
                  </td>
                  <td>{{ info.courier }}</td>
                </tr>
                <tr>
                  <td>
                    <i data-feather="calendar"></i>
                    Meetup/Collection Date:
                  </td>
                  <td>{{ info.meeting_date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xxl-4 d-flex">
        <div class="card flex-fill w-100 carousel carousel-dark slide" id="carouselExampleDark" data-bs-ride="carousel">

          <div class="card-header" onclick="location.href=`{% url 'price' %}`" id="sbox">
            <h5 class="card-title mb-0">Screenshots</h5>
          </div>
          <div class="card-body d-flex">

          </div>
        </div>
      </div> -->
        </div>
    </div>
    <div id="disqus_thread"></div>
</main>
{% endblock %}

{% block script %}
<script src="{% static 'js/ship.js' %}"></script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
        powered by Disqus.</a></noscript>
{% endblock %}