{% extends 'dashboard_base.html' %}
{% load static %}
{% load mathfilters %}

{% block title %}: ShipTogether{% endblock %}
{% block header %}
<link href="{% static 'css/grouplocked.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="content">
  <div class="container-fluid p-0">
    <div class="d-flex bd-highlight">
      <div class="p-2 flex-grow-1 bd-highlight">
        <h1 class="h2" id="group_name">{{ info.group_name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 col-xxl-4 d-flex">
        <div class="container p-0">
          <div class='row'>
            <div class="card flex-fill w-100">
              <div class="card-header">
                <h5 class="card-title mb-0">Summary</h5>
              </div>
              <table class="table mb-0">
                <tbody>
                  <tr>
                    <td><i data-feather="shopping-bag"></i>
                      Store:
                    </td>
                    <td>{{ shipping.platform }}</td>
                  </tr>
                  <tr>
                    <td><i data-feather="briefcase"></i>
                      Description:
                    </td>
                    <td>{{ info.description }}</td>
                  </tr>
                  <tr>
                    <td><i data-feather="credit-card"></i>
                      Shipping fee per member:
                    </td>
                    <td>${{ shipping.base_shipping|div:shipping.member_count|floatformat:2 }}</td>
                  </tr>
                  <tr>
                    {% if request.user.username in info.members %}
                    <td><i data-feather="info"></i>
                      Total Amount:
                    </td>
                    {% with shipping_fee=shipping.base_shipping|div:shipping.member_count %}
                    <td>${{ user_total|addition:shipping_fee|floatformat:2 }}</td>
                    {% endwith %}
                    {% endif %}
                  </tr>
                  <!-- <tr>
                    <td><i data-feather="user"></i>
                      Member details:
                    </td>
                    <td>
                      <a href="#exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal"> Click to show </a>
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Members</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <table class="table mb-0">
                                <tbody>
                                  {% for member in info.members %}
                                  <tr class="data">
                                    <td>
                                      <i data-feather="user"></i>
                                      {{ member }}
                                    </td>
                                    <td>
                                      contact
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-xxl-8 d-flex">
        <div class="card flex-fill w-100">
          <div class="card-header">
            <h5 class="card-title mb-0">Items</h5>
          </div>
          <table class="table table-hover my-0" id='group_data'>
            <thead>
              <tr>
                <th class="sortable asc" onclick="sortTable(0)" style="cursor:pointer">User</th>
                <th class="sortable" onclick="sortTable(1)" style="cursor:pointer">
                  Item</th>
                <th class="text-center">Qty</th>
                <th class="text-center">Price</th>
                <th class="text-center">Total</th>
                <th class="text-center">Paid</th>
              </tr>
            </thead>
            <tbody>
              {% for user, item, qty, price, url, paid in table_data %}
              <tr class="data">
                <td class="user">{{ user }}</td>
                <td class="d-none d-xl-table-cell item">
                  <a href="{{ url }}"> {{ item|capfirst }} </a>
                </td>
                <td class="d-none d-md-table-cell qty text-center">{{ qty }}</td>
                <td class="d-none d-md-table-cell price text-center">${{ price|floatformat:2}}</td>
                <td class="d-none d-md-table-cell total text-center">${{ price|mul:qty|floatformat:2 }}</td>
                <td class="justify-content-center">
                  {% if request.user.username == info.owner %}
                  <div class="d-flex justify-content-center paid">
                    {% if paid %}
                    <input class="form-check-input" type="checkbox" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox">
                    {% endif %}
                  </div>
                  {% else %}
                  <div class="d-flex justify-content-center">
                    {% if paid %}
                    <i data-feather="check" color='green'></i>
                    {% else %}
                    <i data-feather="x" color='red'></i>
                    {% endif %}
                  </div>
                  {% endif %}
                </td>
              </tr>
              {% endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 col-xxl-4 d-flex">
        <div class="card flex-fill w-100">
          <div class="card-header">
            <div class="d-flex bd-highlight">
              <div class="flex-grow-1 bd-highlight">
                <h5 class="card-title">Order Details</h5>
              </div>
              {% if info.owner == request.user.username %}
              <div class="bd-highlight text-end">
                <a href="#edit" data-bs-toggle="modal" data-bs-target="#edit" title="Edit details">
                  <i data-feather='edit-3'></i>
                </a>
                <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="edit" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="edit_label">Edit order details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form class="needs-validation" method='POST'
                          action="{% url 'grouplocked' info.group_name %}" id='edit_form' novalidate>
                          {% csrf_token %}
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="tkg_number" placeholder="tkg_number"
                              name='tkg_number' value="{{ info.tkg_number }}" required>
                            <label for="tkg_number">Tracking Number:</label>
                            <div class="invalid-feedback">
                              Please provide item name.
                            </div>
                          </div>
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="courier" placeholder="courier"
                              name='courier' value="{{ info.courier }}" required>
                            <label for="courier">Courier:</label>
                            <div class="invalid-feedback">
                              Please provide quantity.
                            </div>
                          </div>
                          <div class="form-floating mb-3">
                            <input class="form-control" id="date" type="date" placeholder="date" name='date'
                              value="{{ date }}" required>
                            <label for="date">Meetup date:</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="address" placeholder="address"
                              name='address' value="{{ info.address }}" required>
                            <label for="address">Address:</label>
                            <div class="invalid-feedback">
                              Please provide valid URL.
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" form="edit_form">Add item</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          <table class="table mb-0">
            <tbody>
              <tr>
                <td><i data-feather="hash"></i>
                  Tracking Number:
                </td>
                <td>{{ info.tkg_number }}</td>
              </tr>
              <tr>
                <td><i data-feather="truck"></i>
                  Courier:
                </td>
                <td>{{ info.courier|capfirst }}</td>
              </tr>
              <tr>
                <td><i data-feather="calendar"></i>
                  Meetup Date:
                </td>
                <td>{{ info.meeting_date }}</td>
              </tr>
              <tr>
                <td><i data-feather="map-pin"></i>
                  Meetup Address:
                </td>
                <td> {{ info.address|title }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-4 col-xxl-4 d-flex">
        <div class="card flex-fill">
          <div class="card-header">
            <div class="d-flex bd-highlight">
              <div class="flex-grow-1 bd-highlight">
                <h5 class="card-title">Screenshot</h5>
              </div>
              <div class="bd-highlight text-end">
                <a href="#upload" data-bs-toggle="modal" data-bs-target="#upload" title="Upload screenshot">
                  <i data-feather='upload'></i>
                </a>
                <div class="modal fade" id="upload" tabindex="-1" aria-labelledby="upload_label" aria-hidden="true"
                  role="dialog">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="upload_label">Upload Screenshot</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form class="needs-validation" method='POST' action="{% url 'uploadImage' %}" id='upload_form'
                          enctype="multipart/form-data" novalidate>
                          {% csrf_token %}
                          <div class="d-flex justify-content-start">
                            <label class="me-1" for="img">Select image:</label>
                            <input type="file" id="img" name="img" accept="image/*">
                            <input type="hidden" name='group_name' value="{{ info.group_name }}">
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" form="upload_form">Add item</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body text-center">
            <a href="{{ info.scrnshot.url }}"
              data-glightbox="type: image; effect: fade; width: 450px; height: 150px; zoomable: true; draggable: true;">
              <img src="{{ info.scrnshot.url }}" alt="screenshot" width="" height="150px">
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-xxl-4 d-flex">
        <div class="card flex-fill w-100">
          <div class="card-header">
            <h5 class="card-title mb-0">Members' details</h5>
          </div>
          <table class="table mb-0">
            {% if info.owner == request.user.username %}
            <tbody>
              {% for name, num in member_details %}
              <tr class="data">
                <td>
                  <i data-feather="user"></i>
                  {{ name }}
                  {% if info.owner == name %}
                  <b> (Owner)</b>
                  {% endif %}
                </td>
                <td class='text-center'>
                  {{ num }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
            {% else %}
            <tbody>
              {% for name, num in member_details %}
              <tr class="data">
                <td>
                  <i data-feather="user"></i>
                  {{ name }}
                  {% if info.owner == name %}
                  <b> (Owner)</b>
                  {% endif %}
                </td>
                {% if info.owner == name %}
                <td class='text-center'>
                  {{ num }}
                </td>
                {% else %}
                <td class='text-center'></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="disqus_thread"></div>
</main>
{% endblock %}

{% block script %}
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'js/grouplocked.js' %}"></script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
    powered by Disqus.</a></noscript>
{% endblock %}