{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block header %}
<link href="{% static 'css/registration.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-center">

    <div class="logo">
      <h1><a href="{% url 'index' %}">ShopBud</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="{% url 'index' %}"><img src="{% static 'img/favicon.png' %}" alt="" class="img-fluid"></a> -->
    </div>

    <nav id="navbar" class="navbar">
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->

<div class="container-fluid box">
  <div class="row">
    <div class="col-12 align-self-center">
      <div class="m-3 m-lg-5">
        <div class="text-center mt-4">
          <h1>Log In</h1>
          <p class="lead">
            Welcome!
          </p>
        </div>

        <!-- Alerts -->
        <div class="row justify-content-lg-center">
          <div class="col-auto">
            {% include 'partials/_alerts.html' %}
          </div>
        </div>
        <form class="needs-validation" action="{% url 'login' %}" method='POST' novalidate>
          {% csrf_token %}
          <div class="row justify-content-center gx-0">
            <div class="form-floating mb-3 col-lg-3">
              <input class="form-control rounded-pill" type="username" id="username" name="username" placeholder="username"
                required />
              <label for="username">Username</label>
              <div class="invalid-feedback">
                Please enter your username.
              </div>
            </div>
          </div>
          <div class="row justify-content-center gx-0">
            <div class="form-floating mb-3 password col-lg-3">
              <input class="form-control rounded-pill" type="password" name="password" id="password"
                placeholder="password" required />
              <i class="bi bi-eye" id="togglePassword"></i>
              <label for="pasword">Password</label>
              <div class="invalid-feedback">
                Please enter your password.
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="text-center mt-2">
              <button type="submit" class="btn btn-block btn-success col-lg-1">Sign in</button>
            </div>
          </div>
          <p class="divider-text">
            <span class="or">OR</span>
          </p>
          <div class="container px-4">
            <div class="row gx-5 justify-content-lg-center">
              <div class="col-lg-2 text-center">
                <div class="p-2 border facebook rounded-pill">
                  <a href="{% provider_login_url 'facebook' method='oauth2' %}">
                    <i class="bi bi-facebook" title="Facebook" class="justify-content-start"></i>
                    Facebook
                  </a>
                </div>
              </div>
              <div class="col-lg-2 text-center">
                <div class="p-2 border google rounded-pill ">
                  <a href="/accounts/google/login/?process=login"><i class="bi bi-google" title="Google"></i>
                    Google
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center text-muted mt-3">
            New to ShopBud? <a href="{% url 'register' %}">Sign up</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-lg-6 d-none d-lg-flex col-img">
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()

  const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#password');
  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('bi-eye-slash');
    this.classList.toggle('bi-eye');
  });
</script>
{% endblock %}