{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}: Password Reset{% endblock %}
{% block header %}
<link href="{% static 'css/registration.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="logo">
            <!-- <h1><a href="{% url 'index' %}"><img src="{% static 'img/shopbud.ico' %}">ShopBud</a></h1> -->
            <h1><a href="{% url 'index' %}">ShopBud</a></h1>
        </div>
    </div>
</header><!-- End Header -->

<div class="container-fluid box">
    <div class="row">
        <div class="col-12 align-self-center">
            <div class="m-3 m-lg-5">
                <div class="text-center mt-4">
                    <h1>Password reset successful!</h1>
                    <p class="lead">
                        Please follow instructions stated in the email to reset passsword.
                    </p>
                </div>
                <div class="text-center mt-4">
                    <a href="{% url 'index' %}">Back to homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}