.col-img {
    /* background: scroll center url('https://source.unsplash.com/-4kwrnRrk-E/800x800'); */
    background: scroll center url("https://images.unsplash.com/photo-1587613757703-eea60bd69e66?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&h=800&fit=crop&ixid=eyJhcHBfaWQiOjF9");
    background-size: cover;
    min-height: 100vh;
}

.btn {
    border-radius: 5em;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.or {
    background-color: white;
}

.container .a {
    text-decoration: none;
}

.password i {
    margin-left: -35px;
    cursor: pointer;
}

#password {
    display: initial;
}

.facebook {
    background-color: #326FCB !important;
}

.google {
    background-color: #ED5432 !important;
}

.google a, .facebook a {
    /* color: #C4C4C4; */
    color: white;
}

.was-validated .form-control:valid {
    border-color: initial;
    padding-right: initial;
    background-image: none;
}

.password .form-control:invalid {
    background-image: none;
}