input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#actions {
    width: 10%;
}

.delete, .edit, .btnSave, .cancel {
    color: unset;
}

.delete:hover, .cancel:hover {
    color: rgb(228, 74, 74);
}

.btnSave:hover {
  color: rgb(9, 169, 76);
}