input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#actions {
    width: 10%;
}

.delete, .edit, .btnSave, .cancel {
    color: unset;
}

.delete:hover, .cancel:hover {
    color: rgb(228, 74, 74);
}

.btnSave:hover {
  color: rgb(9, 169, 76);
}

th.sortable {
  position: relative;
  cursor: pointer;
}

th.sortable::after {
  font-family: FontAwesome;
  content: "\f0dc";
  position: absolute;
  right: 8px;
  color: #999;
}

th.sortable.asc::after {
  content: "\f0d8";
}

th.sortable.desc::after {
  content: "\f0d7";
}

th.sortable:hover::after {
  color: #333;
}